.footer-links {
	width: 100%;
	margin: 10px;
	padding: 0;

	li {
		list-style: none;
		margin: 15px auto;
		
		a {

			&:hover {
				text-decoration: none;
			}
			svg {
				fill: #999;
				margin-right: 10px;
				transition: fill 0.2s ease;
				vertical-align: middle;
				position: relative;
				top: -2px;
				width: 22px;
				height: 22px;
			}

			&:hover svg {
				fill: #fff;
			}
		}
	}
}

footer {
	padding: 3vh;
	font-size: 1.1rem;
	position: relative;
	background: $brand-color;
	color: #fff;

	.copyright {
		font-size: .8rem;
		color: #fff;
		opacity: 0.5;
		text-align: center;
	}
}
