
.hero {
	color: #ffffff;
	text-align: center;
	height: 100vh;
	background: linear-gradient(to bottom, $brand-color, $secondary-brand-color) no-repeat;
	padding: 0px;
	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding-top: 10px;
		flex-direction: column;
	}
}

@keyframes slideIn {
  0% {
    opacity: 0;
	transform: translateX(-500px);
  }
  100% { }
}

@keyframes slideUp {
  0%, 50% {
    opacity: 0;
	transform: translateY(100px);
  }
  100% {}
}

#LandingImage {
	animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	animation-duration: 0.5s;
	animation-name: slideIn;
}

#LandingActionButton, div.learn-more {
	animation-duration: 1s;
	animation-name: slideUp;
}

@include breakpoint(800px) {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

section > .container > .text 
{
	padding-bottom: 50px;
}

.learn-more {
	position: absolute;
	left: 0;
	bottom: 2vh;
	text-align: center;
	font-size: 1rem;
	width: 100%;
	visibility: hidden;

	@media (min-height: 400px) {
		visibility: visible;
	}

	a {
		text-decoration: none;
		color: #fff;
		opacity: .9;

		&:hover {
			opacity: 1;
		}
	}
	.arrow {
		font-size: .6em;
	}
}

.subtext {
	margin-top: 3vh;
	font-size: 1.2em;
}

.cta {
	margin: 6vh 0;
	font-size: 1em;
}