/* post css */

.post {
    img {
        padding: 10px;
        
    }

    
    img.large {
        width: 100%;
        cursor: zoom-in;
    }
/*
    img.medium {
        max-width: 10vw;
    }*/
}