/* post css */

.post {
    img {
        padding: 10px;
    }

    p {
        padding-bottom: 0.5em
    }

    table {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    th, td {
        padding: 3px 5px;
    }
}